.cards-list {
  padding: 40px 0 80px;
  box-sizing: border-box;
}
  
.cards-list__content {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.cards-list__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 364px));
  grid-template-rows: auto;
  row-gap: 14px;
  justify-content: space-between;
  justify-items: center;
}
  
.cards-list__button {
  width: 240px;
  height: 36px;
  margin: 76px auto 0;
  padding: 11px 20px 9px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  background-color: #F4F4F4;
  border: none;
  border-radius: 6px;
  transition: opacity .3s ease-in-out;
}
  
.cards-list__button:hover {
  opacity: .7;
  cursor: pointer;
}
  
@media screen and (min-width: 788px) {
  .cards-list {
    padding: 70px 0 80px;
  }
  
  .cards-list__content {
    width: calc(100% - 60px);
    display: block;
  }
  
  .cards-list__items {
    row-gap: 30px;
  }
  
  .cards-list__button {
    width: 320px;
    margin-top: 80px;
  }
}
  
@media screen and (min-width: 1280px) {
  .cards-list__content {
    width: calc(100% - 140px);
  }
  
  .cards-list__items {
    row-gap: 37px;
  }
  
  .cards-list__button {
    margin-top: 60px;
  }
}
