.search-form {
  padding: 80px 0 10px;
  box-sizing: border-box;
}

.search-form__container {
  width: calc(100% - 28px);
  max-width: 1280px;
  margin: 0 auto;
}

.search-form__form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
}

.search-form__input {
  width: 100%;
  height: 46px;
  padding: 14px 0 14px 19px;
  font-style: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.55;
  box-sizing: border-box;
  border-radius: 40px;
  border: none;
  background-color: #f4f4f4;
}

.search-form__input:focus {
  outline: 1px solid #3456F3;
}

.search-form__input::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.55;
  color: #A0A0A0;
}

.search-form__button {
  min-width: 80px;
  height: 34px;
  padding: 6px 29px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #3456F3;
  border: none;
  border-radius: 48px;
  background-image: url(../../images/search-movies.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  transition: opacity .3s ease-in-out;
}

.search-form__button:hover {
  opacity: .7;
  cursor: pointer;
}

.search__submit-btn_disabled {
  filter: grayscale(100%);
  opacity: 0.3;
  cursor: wait;
}

.search__submit-btn_disabled:hover {
  filter: grayscale(100%);
  opacity: 0.3;
  cursor: wait;
}

@media screen and (min-width: 768px) {
  .search-form__container {
    width: calc(100% - 60px);
  }
  
  .search-form__input {
    padding-left: 22px;
    font-size: 13px;
    line-height: 1.31;
  }
  
  .search-form__input::placeholder {
    font-size: 13px;
    line-height: 1.31;
  }
}
  
@media screen and (min-width: 1280px) {
  .search-form {
    padding-top: 60px;
  }
  
  .search-form__container {
    width: calc(100% - 140px);
  }
}
